
.fontPage{
  display:flex;
}
.infoUser{
  width: 80%;
}
.App-link {
  color: #61dafb;
}
.cartDetail{
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
